<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Tonies</title>
</head>
<body>
    {% for i in Jsondic%}
        <div class="container">
            <div class="karte">
                <!--<div class="title"><h3>{{i["title"]}}</h3></div>-->
                <div class="figure"><p>{{i["figure"]}}</p></div>
                <div class="card3d">
                    <div class="image"><img src="{{i.image}}" alt="tonie" width="200"></div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    {%endfor%}
</body>
</html>