<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tonie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="title"><h3>{{ Jsondic[0].title }}</h3></div>
    <div class="figure"><h2>{{ Jsondic[0].figure }}</h2></div>
    <div class="description"><p>{{ Jsondic[0].description | safe }}</p></div>
    
    {% for i in Jsondic[1] %}
    <div class="titles">
        {% for title in i.titles.split(',') %}
            <p>{{ title.strip() }}</p>
        {% endfor %}
    {% endfor %}

    <div class="runtime"><p>{{ Jsondic[0].runtime }}</p></div>

    <div class="image"><img src="{{ Jsondic[0].image }}"></div>
</body>
</html>