<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Tonies</title>
</head>
<body>
    <div class="headerbar">
        <h1>Toniedex</h1>
    </div>
    <div class="dody">
    {% for i in Jsondic%}
            <div class="tonies">
                <div class="karte">
                    <!--<div class="title"><h3>{{i["title"]}}</h3></div>-->
                    <div class="buttons">    
                        <a href="{{ url_for('get_tonie', tonie_id=i.tonie_id) }}" class="buybutton" role="button">&nbsp;</a>
                        <a class="greybutton" role="button" onclick="toggleRibbon()">&nbsp;</a>
                        <a href="{{ url_for('get_tonie', tonie_id=i.tonie_id) }}" class="wishlistbutton" role="button">&nbsp;</a>
                        <a href="{{ url_for('get_tonie', tonie_id=i.tonie_id) }}" class="infobutton" title="Info">&#8505;</a>
                    </div>
                    <div class="figure"><h4>{{i["figure"]}}</h4></div>
                    <div class="image"><img src="{{i.image}}" alt="tonie" width="180"></div>
                </div>
            </div>
            <script src="{{ url_for('static', filename='script.js') }}"></script>
    {%endfor%}
    </div>
</body>
</html>